
DATABASE_URL="postgresql://ashutosh:postgres@localhost:5432/darc_ai"
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://www.darc.fun/
NEXT_PUBLIC_APP_URL=https://www.darc.fun/
PINECONE_API_KEY=
PINECONE_INDEX=
EMBEDDING_MODEL=
GROQ_API_KEY=